## Nationality / Nacionalidades

In [4]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()
tlnb.print_info(show_token=True)

WARNING:root:Reusing existing container jolly_noyce

Timelink version: 1.1.25
Project name: dehergne-repertoire
Project home: /Users/jrc/develop/dehergne-repertoire
Database type: sqlite
Database name: dehergne_repertoire
Kleio image: timelinkserver/kleio-server
Kleio server token: OPlFiB43Ns51uSkIBKIiGM9gGQL1KAXV
Kleio server URL: http://127.0.0.1:8088
Kleio server home: /Users/jrc/develop/dehergne-repertoire
Kleio server container: jolly_noyce
Kleio version requested: latest
Kleio server version: 12.8.593 (2025-03-16 21:55:53)
SQLite directory: /Users/jrc/develop/dehergne-repertoire/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=dehergne-repertoire, project_home=/Users/jrc/develop/dehergne-repertoire, db_type=sqlite, db_name=dehergne_repertoire, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [5]:
import pandas as pd
from timelink.pandas import attribute_values
# set max rows to 500
pd.set_option('display.max_rows', 500)

df_totals = attribute_values('nacionalidade',db=tlnb.db)
df_totals

            count date_min date_max
value
Portugal      431        0        0
França        184        0        0
China         177        0        0
Itália        125        0        0
Espanha        43        0        0
Alemanha       36        0        0
Bélgica        23        0        0
Áustria        15        0        0
Flandres       12        0        0
Boémia         11        0        0
Japão           9        0        0
Tonquim         9        0        0
Polónia         8        0        0
Holanda         5        0        0
Inglaterra      5        0        0
Suíça           5        0        0
Coreia          4        0        0
Tirol           3        0        0
Alsácia         2        0        0
Europa          2        0        0
Sabóia          2        0        0
Brasil          1        0        0
Dalmácia        1        0        0
Irlanda         1        0        0
Lituânia        1        0        0
Malásia         1        0        0
México          1        0        0
Rússia          1        0        0
Tartária        1        0        0
Índia           1        0        0

### List of all with attribute "nacionalidade"

In [6]:
%pip install pyuca openpyxl

Requirement already satisfied: pyuca in /Users/jrc/develop/dehergne-repertoire/.venv/lib/python3.13/site-packages (1.2)
Requirement already satisfied: openpyxl in /Users/jrc/develop/dehergne-repertoire/.venv/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/jrc/develop/dehergne-repertoire/.venv/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pyuca  # to sort accented characters properly

import pandas as pd
from timelink.pandas import entities_with_attribute
# show 500 rows
pd.set_option('display.max_rows', 550)

nacionais = entities_with_attribute(
    entity_type='person',
    show_elements=['id','name','groupname'],
    the_type='nacionalidade',
    more_attributes=['nascimento'],
    db=tlnb.db,
)
# filter groupname = 'n' (avoid "referido", "pai", "mãe")
nacionais = nacionais[nacionais.groupname=='n']
nacionais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, deh-giandomenico-gabiani to deh-jean-francois-burin
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_1                      943 non-null    object
 1   name                      943 non-null    object
 2   groupname                 943 non-null    object
 3   nacionalidade.attr_id     943 non-null    object
 4   nacionalidade.type        943 non-null    object
 5   nacionalidade             943 non-null    object
 6   nacionalidade.date        943 non-null    object
 7   nacionalidade.line        943 non-null    int64
 8   nacionalidade.level       943 non-null    int64
 9   nacionalidade.obs         943 non-null    object
 10  nacionalidade.extra_info  943 non-null    object
 11  nacionalidade.comment     34 non-null     object
 12  nacionalidade.original    1 non-null      object
 13  nascimento                855 non-null    object
 14  nascimento.date           855 non-null    object
 15  nascimento.obs            855 non-null    object
 16  nascimento.extra_info     855 non-null    object
 17  nascimento.original       46 non-null     object
dtypes: int64(2), object(16)
memory usage: 140.0+ KB

### Export all with attribute "nacionalidade"

In [8]:
nacionais.to_excel("../inferences/paises_pessoas_n.xlsx", sheet_name='Sheet1', index=False)

### Group by nacionalidade

In [9]:
paises_totais=nacionais.groupby('nacionalidade')['id_1'].nunique().reset_index().sort_values('id_1',ascending=False)
paises_totais

   nacionalidade  id_1
19      Portugal   346
10        França   168
4          China   146
14        Itália   113
0       Alemanha    35
7        Espanha    34
3        Bélgica    22
24       Áustria    14
9       Flandres    11
2         Boémia    10
18       Polónia     8
23       Tonquim     5
11       Holanda     5
21         Suíça     5
15         Japão     5
22         Tirol     3
8         Europa     2
1        Alsácia     2
20        Sabóia     2
16      Lituânia     1
17        México     1
5         Coreia     1
13       Irlanda     1
6       Dalmácia     1
12    Inglaterra     1

In [10]:
paises_totais.to_excel("../inferences/paises_totais_n.xlsx", sheet_name='Sheet1', index=False)

### Countries and evolution of departures

In [11]:
import pyuca  # to sort accented characters properly

import pandas as pd
from timelink.pandas import entities_with_attribute
# show 500 rows
pd.set_option('display.max_rows', 550)

embarques = entities_with_attribute(
    entity_type='person',
    show_elements=['id','name','groupname'],
    the_type='nacionalidade',
    more_attributes=['wicky'],
    db=tlnb.db,
)
# filter groupname = 'n' (avoid "referido", "pai", "mãe")
embarques = embarques[embarques.groupname=='n']
embarques['wicky.date'] = embarques['wicky.date'].fillna('0000')
embarques.info()
cols =['name','nacionalidade','wicky.date']
# replace NaN in wicky.date with 0000

embarques[cols].sort_values('wicky.date')

<class 'pandas.core.frame.DataFrame'>
Index: 973 entries, deh-giandomenico-gabiani to deh-jean-francois-burin
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_1                      973 non-null    object
 1   name                      973 non-null    object
 2   groupname                 973 non-null    object
 3   nacionalidade.attr_id     973 non-null    object
 4   nacionalidade.type        973 non-null    object
 5   nacionalidade             973 non-null    object
 6   nacionalidade.date        973 non-null    object
 7   nacionalidade.line        973 non-null    int64
 8   nacionalidade.level       973 non-null    int64
 9   nacionalidade.obs         973 non-null    object
 10  nacionalidade.extra_info  973 non-null    object
 11  nacionalidade.comment     35 non-null     object
 12  nacionalidade.original    1 non-null      object
 13  wicky                     515 non-null    object
 14  wicky.date                973 non-null    object
 15  wicky.obs                 515 non-null    object
 16  wicky.extra_info          515 non-null    object
 17  wicky.original            3 non-null      object
 18  wicky.date.original       3 non-null      object
dtypes: int64(2), object(17)
memory usage: 152.0+ KB

,name,nacionalidade,wicky.date
id,,,
deh-jean-de-fontaney,Jean de Fontaney,França,0000
deh-joao-pereira-i,João Pereira,China,0000
deh-luis-pereira,Luís Pereira,Portugal,0000
deh-manuel-pereira-yeou,Manuel Pereira Yeou,China,0000
deh-manuel-pereira-iii,Manuel Pereira,China,0000
...,...,...,...
deh-joaquim-lobo,Joaquim Lobo,Portugal,>1755:<1758
deh-faustino-soares,Faustino Soares,Portugal,>1755:<1758
deh-sebastiao-correa,Sebastião Correa,Portugal,>1755:<1758
deh-jose-de-lima,José de Lima,Portugal,>1755:<1758
deh-manuel-jose-de-carvalho,Manuel José de Carvalho,Portugal,>1755:<1758

#### Group by country decade

In [12]:
import pandas as pd
from timelink.kleio.utilities import convert_timelink_date

# extract the year from wicky.date
embarques['data_embarque'] = embarques['wicky.date'].apply(convert_timelink_date)
embarques['data_embarque'] = embarques['data_embarque'].fillna('0000-01-01')
embarques['ano_embarque'] = pd.to_datetime(embarques['data_embarque'], format='%Y-%m-%d', errors='coerce').dt.year
# count ano_entrada per periods of 10 years starting from 1540
embarques['periodo_embarque'] = embarques['ano_embarque'] // 10 * 10
# show columns jesuita-entrada.date, ano_entrada, periodo
embarques[['wicky.date','ano_embarque','periodo_embarque']].sort_values('wicky.date').tail(10)
# count number of embarques per period
embarques.groupby(['nacionalidade','periodo_embarque',])['id_1'].count().reset_index().sort_values(['nacionalidade','periodo_embarque',])

   nacionalidade  periodo_embarque  id_1
0       Alemanha            1680.0     2
1       Alemanha            1690.0     6
2       Alemanha            1700.0     3
3       Alemanha            1710.0     4
4       Alemanha            1730.0     5
5       Alemanha            1740.0     1
6       Alemanha            1750.0     1
7        Alsácia            1700.0     1
8         Boémia            1700.0     1
9         Boémia            1710.0     1
10        Boémia            1730.0     3
11        Boémia            1740.0     1
12       Bélgica            1680.0     3
13       Bélgica            1690.0     2
14       Bélgica            1700.0     1
15         China            1690.0     1
16         China            1710.0     1
17       Espanha            1680.0     2
18      Flandres            1680.0     1
19        França            1690.0     2
20       Holanda            1690.0     1
21        Itália            1690.0    19
22        Itália            1700.0     2
23        Itália            1710.0     8
24        Itália            1720.0     2
25        Itália            1730.0     1
26        Itália            1740.0     1
27       Polónia            1700.0     1
28      Portugal            1680.0    15
29      Portugal            1690.0    44
30      Portugal            1700.0     9
31      Portugal            1710.0    19
32      Portugal            1720.0     8
33      Portugal            1730.0    15
34      Portugal            1740.0    19
35      Portugal            1750.0    24
36        Sabóia            1680.0     1
37         Suíça            1690.0     1
38         Suíça            1700.0     1
39         Tirol            1730.0     1
40       Áustria            1700.0     2
41       Áustria            1710.0     1
42       Áustria            1730.0     3
43       Áustria            1740.0     1

### Countries and place of entry / Países e locais de entrada

In [13]:

import pyuca  # to sort accented characters properly

import pandas as pd
from timelink.pandas import entities_with_attribute
# show 500 rows
pd.set_option('display.max_rows', 550)

nacionalidade_entrada = entities_with_attribute(
    entity_type='person',
    show_elements=['id','name','groupname'],
    the_type='nacionalidade',
    more_attributes=['nascimento', 'jesuita-entrada','jesuita-entrada-x'],
    db=tlnb.db,
)
# filter groupname = 'n' (avoid "referido", "pai", "mãe")
nacionalidade_entrada = nacionalidade_entrada[nacionalidade_entrada.groupname=='n']
nacionalidade_entrada['jesuita-entrada'] = nacionalidade_entrada['jesuita-entrada'].fillna('?')
nacionalidade_entrada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, deh-giandomenico-gabiani to deh-jean-francois-burin
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_1                        950 non-null    object
 1   name                        950 non-null    object
 2   groupname                   950 non-null    object
 3   nacionalidade.attr_id       950 non-null    object
 4   nacionalidade.type          950 non-null    object
 5   nacionalidade               950 non-null    object
 6   nacionalidade.date          950 non-null    object
 7   nacionalidade.line          950 non-null    int64
 8   nacionalidade.level         950 non-null    int64
 9   nacionalidade.obs           950 non-null    object
 10  nacionalidade.extra_info    950 non-null    object
 11  nacionalidade.comment       34 non-null     object
 12  nacionalidade.original      1 non-null      object
 13  nascimento                  862 non-null    object
 14  nascimento.date             862 non-null    object
 15  nascimento.obs              862 non-null    object
 16  nascimento.extra_info       862 non-null    object
 17  nascimento.original         46 non-null     object
 18  jesuita-entrada             950 non-null    object
 19  jesuita-entrada.date        846 non-null    object
 20  jesuita-entrada.obs         846 non-null    object
 21  jesuita-entrada.extra_info  846 non-null    object
 22  jesuita-entrada.original    65 non-null     object
 23  jesuita-entrada-x           0 non-null      object
dtypes: int64(2), object(22)
memory usage: 185.5+ KB

In [14]:
nacionalidade_entrada.groupby(['nacionalidade','jesuita-entrada'])['id_1'].nunique()
df = nacionalidade_entrada.groupby(['nacionalidade','jesuita-entrada'])['id_1'].nunique().reset_index()
df_subtotal = df.groupby('nacionalidade')['id_1'].sum().reset_index()
df_subtotal.columns = ['nacionalidade', 'subtotal']
df = pd.merge(df, df_subtotal, on='nacionalidade')
df['perc_nacionalidade'] = df['id_1']/df['subtotal']
df.sort_values(['subtotal','nacionalidade','id_1'], ascending=[False,True,False])

,nacionalidade,jesuita-entrada,id_1,subtotal,perc_nacionalidade
99,Portugal,?,200,347,0.576369
100,Portugal,Coimbra,60,347,0.172911
103,Portugal,Lisboa,37,347,0.106628
107,Portugal,Évora,22,347,0.063401
101,Portugal,Goa,20,347,0.057637
104,Portugal,Macau,3,347,0.008646
102,Portugal,Japão,2,347,0.005764
105,Portugal,Ormuz,1,347,0.002882
106,Portugal,Portugal,1,347,0.002882
108,Portugal,Índia,1,347,0.002882
55,França,?,89,168,0.529762
62,França,Paris,31,168,0.184524
61,França,Nancy,15,168,0.089286
56,França,Avignon,13,168,0.077381
57,França,Bordeaux,8,168,0.047619
63,França,Roma,4,168,0.023810
64,França,Toulouse,3,168,0.017857
58,França,Lyon,2,168,0.011905
59,França,Macau,1,168,0.005952
60,França,Milão (província),1,168,0.005952
65,França,Toulouse (província),1,168,0.005952
21,China,?,101,146,0.691781
28,China,Macau,10,146,0.068493
32,China,Pequim,10,146,0.068493
31,China,Paris,7,146,0.047945
24,China,Hangchow,3,146,0.020548
35,China,Shiuchow,3,146,0.020548
23,China,Goa,2,146,0.013699
27,China,Lisboa,2,146,0.013699
33,China,Roma,2,146,0.013699
22,China,China,1,146,0.006849
25,China,Japão,1,146,0.006849
26,China,Japão (província),1,146,0.006849
29,China,Nanquim,1,146,0.006849
30,China,Ozukio (noviciado),1,146,0.006849
34,China,Shanghai,1,146,0.006849
71,Itália,?,43,114,0.377193
87,Itália,Roma,25,114,0.219298
85,Itália,Nápoles,10,114,0.087719
78,Itália,Génova,9,114,0.078947
74,Itália,Chieri,5,114,0.043860
86,Itália,Palermo,4,114,0.035088
72,Itália,Arona,2,114,0.017544
73,Itália,Bolonha,2,114,0.017544
76,Itália,Ferrara,2,114,0.017544
82,Itália,Messina,2,114,0.017544
83,Itália,Milão,2,114,0.017544
84,Itália,Novellara,2,114,0.017544
75,Itália,Colorno,1,114,0.008772
77,Itália,Goa,1,114,0.008772
79,Itália,Landsberg,1,114,0.008772
80,Itália,Leoben,1,114,0.008772
81,Itália,Lisboa,1,114,0.008772
88,Itália,Veneza,1,114,0.008772
0,Alemanha,?,15,35,0.428571
2,Alemanha,Landsberg,7,35,0.200000
6,Alemanha,Roma,3,35,0.085714
7,Alemanha,Trier,3,35,0.085714
1,Alemanha,Brno,2,35,0.057143
8,Alemanha,Viena,2,35,0.057143
3,Alemanha,Mainz,1,35,0.028571
4,Alemanha,Polotsk,1,35,0.028571
5,Alemanha,Portugal,1,35,0.028571
38,Espanha,?,18,34,0.529412
39,Espanha,Alcalá,6,34,0.176471
47,Espanha,Saragoça,2,34,0.058824
40,Espanha,Coimbra,1,34,0.029412
41,Espanha,Goa,1,34,0.029412
42,Espanha,"Lima, Peru",1,34,0.029412
43,Espanha,Lorette,1,34,0.029412
44,Espanha,Manila,1,34,0.029412
45,Espanha,Portugal,1,34,0.029412
46,Espanha,Roma,1,34,0.029412
48,Espanha,Villaregio,1,34,0.029412
15,Bélgica,?,7,22,0.318182
18,Bélgica,Mechelen,6,22,0.272727
20,Bélgica,Tournai,6,22,0.272727
16,Bélgica,Landsberg,1,22,0.045455
17,Bélgica,Lisboa,1,22,0.045455
19,Bélgica,Roma,1,22,0.045455
119,Áustria,Viena,9,14,0.642857
116,Áustria,Landsberg,2,14,0.142857
115,Áustria,Krems,1,14,0.071429
117,Áustria,Leoben,1,14,0.071429
118,Áustria,Trenčín,1,14,0.071429
50,Flandres,?,3,11,0.272727
54,Flandres,Tournai,3,11,0.272727
51,Flandres,Douai,2,11,0.181818
52,Flandres,Mechelen,2,11,0.181818
53,Flandres,Portugal,1,11,0.090909
11,Boémia,?,4,10,0.400000
13,Boémia,Brno,4,10,0.400000
12,Boémia,Boémia,1,10,0.100000
14,Boémia,Goa,1,10,0.100000
95,Polónia,Cracóvia,4,8,0.500000
94,Polónia,?,1,8,0.125000
96,Polónia,Mazowsze (província),1,8,0.125000
97,Polónia,Viena,1,8,0.125000
98,Polónia,Vilnius,1,8,0.125000
66,Holanda,?,3,6,0.500000
68,Holanda,Mechelen,2,6,0.333333
67,Holanda,Courtrai,1,6,0.166667
89,Japão,?,3,5,0.600000
90,Japão,Nan-tch'ang,1,5,0.200000
91,Japão,"Todos-os-Santos, Nagasaki",1,5,0.200000
110,Suíça,?,5,5,1.000000
113,Tonquim,?,4,5,0.800000
114,Tonquim,Japão (província),1,5,0.200000
111,Tirol,Landsberg,2,3,0.666667
112,Tirol,Viena,1,3,0.333333
9,Alsácia,Landsberg,1,2,0.500000
10,Alsácia,Paris,1,2,0.500000
49,Europa,?,2,2,1.000000
109,Sabóia,?,2,2,1.000000
36,Coreia,Japão,1,1,1.000000
37,Dalmácia,Roma,1,1,1.000000
69,Inglaterra,Roma,1,1,1.000000
70,Irlanda,?,1,1,1.000000
92,Lituânia,Vilnius,1,1,1.000000
93,México,?,1,1,1.000000

In [15]:
df = nacionalidade_entrada.groupby(['nacionalidade','jesuita-entrada'])['id_1'].nunique().reset_index()
df_subtotal = df.groupby('nacionalidade')['id_1'].sum().reset_index()
df_subtotal.columns = ['nacionalidade', 'subtotal']
df = pd.merge(df, df_subtotal, on='nacionalidade')
df['perc_nacionalidade'] = df['id_1']/df['subtotal']
df

,nacionalidade,jesuita-entrada,id_1,subtotal,perc_nacionalidade
0,Alemanha,?,15,35,0.428571
1,Alemanha,Brno,2,35,0.057143
2,Alemanha,Landsberg,7,35,0.200000
3,Alemanha,Mainz,1,35,0.028571
4,Alemanha,Polotsk,1,35,0.028571
5,Alemanha,Portugal,1,35,0.028571
6,Alemanha,Roma,3,35,0.085714
7,Alemanha,Trier,3,35,0.085714
8,Alemanha,Viena,2,35,0.057143
9,Alsácia,Landsberg,1,2,0.500000
10,Alsácia,Paris,1,2,0.500000
11,Boémia,?,4,10,0.400000
12,Boémia,Boémia,1,10,0.100000
13,Boémia,Brno,4,10,0.400000
14,Boémia,Goa,1,10,0.100000
15,Bélgica,?,7,22,0.318182
16,Bélgica,Landsberg,1,22,0.045455
17,Bélgica,Lisboa,1,22,0.045455
18,Bélgica,Mechelen,6,22,0.272727
19,Bélgica,Roma,1,22,0.045455
20,Bélgica,Tournai,6,22,0.272727
21,China,?,101,146,0.691781
22,China,China,1,146,0.006849
23,China,Goa,2,146,0.013699
24,China,Hangchow,3,146,0.020548
25,China,Japão,1,146,0.006849
26,China,Japão (província),1,146,0.006849
27,China,Lisboa,2,146,0.013699
28,China,Macau,10,146,0.068493
29,China,Nanquim,1,146,0.006849
30,China,Ozukio (noviciado),1,146,0.006849
31,China,Paris,7,146,0.047945
32,China,Pequim,10,146,0.068493
33,China,Roma,2,146,0.013699
34,China,Shanghai,1,146,0.006849
35,China,Shiuchow,3,146,0.020548
36,Coreia,Japão,1,1,1.000000
37,Dalmácia,Roma,1,1,1.000000
38,Espanha,?,18,34,0.529412
39,Espanha,Alcalá,6,34,0.176471
40,Espanha,Coimbra,1,34,0.029412
41,Espanha,Goa,1,34,0.029412
42,Espanha,"Lima, Peru",1,34,0.029412
43,Espanha,Lorette,1,34,0.029412
44,Espanha,Manila,1,34,0.029412
45,Espanha,Portugal,1,34,0.029412
46,Espanha,Roma,1,34,0.029412
47,Espanha,Saragoça,2,34,0.058824
48,Espanha,Villaregio,1,34,0.029412
49,Europa,?,2,2,1.000000
50,Flandres,?,3,11,0.272727
51,Flandres,Douai,2,11,0.181818
52,Flandres,Mechelen,2,11,0.181818
53,Flandres,Portugal,1,11,0.090909
54,Flandres,Tournai,3,11,0.272727
55,França,?,89,168,0.529762
56,França,Avignon,13,168,0.077381
57,França,Bordeaux,8,168,0.047619
58,França,Lyon,2,168,0.011905
59,França,Macau,1,168,0.005952
60,França,Milão (província),1,168,0.005952
61,França,Nancy,15,168,0.089286
62,França,Paris,31,168,0.184524
63,França,Roma,4,168,0.023810
64,França,Toulouse,3,168,0.017857
65,França,Toulouse (província),1,168,0.005952
66,Holanda,?,3,6,0.500000
67,Holanda,Courtrai,1,6,0.166667
68,Holanda,Mechelen,2,6,0.333333
69,Inglaterra,Roma,1,1,1.000000
70,Irlanda,?,1,1,1.000000
71,Itália,?,43,114,0.377193
72,Itália,Arona,2,114,0.017544
73,Itália,Bolonha,2,114,0.017544
74,Itália,Chieri,5,114,0.043860
75,Itália,Colorno,1,114,0.008772
76,Itália,Ferrara,2,114,0.017544
77,Itália,Goa,1,114,0.008772
78,Itália,Génova,9,114,0.078947
79,Itália,Landsberg,1,114,0.008772
80,Itália,Leoben,1,114,0.008772
81,Itália,Lisboa,1,114,0.008772
82,Itália,Messina,2,114,0.017544
83,Itália,Milão,2,114,0.017544
84,Itália,Novellara,2,114,0.017544
85,Itália,Nápoles,10,114,0.087719
86,Itália,Palermo,4,114,0.035088
87,Itália,Roma,25,114,0.219298
88,Itália,Veneza,1,114,0.008772
89,Japão,?,3,5,0.600000
90,Japão,Nan-tch'ang,1,5,0.200000
91,Japão,"Todos-os-Santos, Nagasaki",1,5,0.200000
92,Lituânia,Vilnius,1,1,1.000000
93,México,?,1,1,1.000000
94,Polónia,?,1,8,0.125000
95,Polónia,Cracóvia,4,8,0.500000
96,Polónia,Mazowsze (província),1,8,0.125000
97,Polónia,Viena,1,8,0.125000
98,Polónia,Vilnius,1,8,0.125000
99,Portugal,?,200,347,0.576369
100,Portugal,Coimbra,60,347,0.172911
101,Portugal,Goa,20,347,0.057637
102,Portugal,Japão,2,347,0.005764
103,Portugal,Lisboa,37,347,0.106628
104,Portugal,Macau,3,347,0.008646
105,Portugal,Ormuz,1,347,0.002882
106,Portugal,Portugal,1,347,0.002882
107,Portugal,Évora,22,347,0.063401
108,Portugal,Índia,1,347,0.002882
109,Sabóia,?,2,2,1.000000
110,Suíça,?,5,5,1.000000
111,Tirol,Landsberg,2,3,0.666667
112,Tirol,Viena,1,3,0.333333
113,Tonquim,?,4,5,0.800000
114,Tonquim,Japão (província),1,5,0.200000
115,Áustria,Krems,1,14,0.071429
116,Áustria,Landsberg,2,14,0.142857
117,Áustria,Leoben,1,14,0.071429
118,Áustria,Trenčín,1,14,0.071429
119,Áustria,Viena,9,14,0.642857